/* Основные стили */
body {
    background-color: #18171C;
    color: #F5F5F5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2C2B33;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Лого слева, навигация справа */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Навигация */
nav {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    margin-left:auto   ; /* Прижимаем навигацию вправо */
}

/* Логотип */
.logotip {
    height: 40px;
    width: auto;
}

main {
    margin-top: 70px;  /* Отступ, чтобы контент не прятался под header */
}


nav p {
    margin: 0;
    font-size: 1.1rem;
}

/* Ссылки */
a {
    color: #F5F5F5;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid #E0E0E0; /* Светлая рамка */
    border-radius: 5px;
}

a:hover {
    color: #E0E0E0;
    background-color: #3A3942;
}

/* Основное содержимое */

/* Списки */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 1rem;
}

/* Кнопки */
.btn {
    text-decoration: none;
    color: #F5F5F5; /* Светлый текст */
    background-color: #3A3942; /* Темно-серый фон */
    padding: 10px 20px;
    border: 2px solid #E0E0E0; /* Светлая рамка */
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #E0E0E0; /* Светлый фон при наведении */
    color: #18171C; /* Темный текст при наведении */
}

/* Сообщения (если будете добавлять) */
.messages {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
}

/* Подвал (можете добавить позже) */
footer {
    background-color: #2C2B33;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

/* Адаптивность */
@media (max-width: 768px) {
    nav {
        justify-content: center;
    }
    
    nav p {
        font-size: 0.9rem;
    }
    
    main {
        padding: 1rem;
    }
}


/* Убрать полосу прокрутки у элемента */
.element::-webkit-scrollbar {
    width: 0;
  }
  
  /*Убрать полосу прокрутки для всей страницы*/
  ::-webkit-scrollbar {
    width: 0;
  } 