/* Основные стили */
body {
    background-color: #18171C; /* Темный фон */
    color: #F5F5F5; /* Светлый текст */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #F5F5F5; /* Светлый заголовок */
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для формы сортировки */
form {
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
}

label {
    margin-right: 10px;
    color: #F5F5F5; /* Светлый текст */
}

select {
    padding: 8px;
    border: 1px solid #F5F5F5; /* Светлая рамка */
    border-radius: 4px;
    background-color: #18171C; /* Темный фон */
    color: #F5F5F5; /* Светлый текст */
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #F5F5F5; /* Светлый фон */
    color: #18171C; /* Темный текст */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #E0E0E0; /* Светло-серый при наведении */
}

/* Стили для списка автомобилей */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

li a {
    display: block; /* Делаем ссылку блочным элементом */
    padding: 15px;
    background-color: #2C2B33; /* Темно-серый фон */
    color: #F5F5F5; /* Светлый текст */
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #3A3942; /* Серый при наведении */
}

/* Стиль для кнопки "Назад" */
.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F5F5F5; /* Светлый фон */
    color: #18171C; /* Темный текст */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #E0E0E0; /* Светло-серый при наведении */
}
/* Стиль для динамически добавляемых данных */
.car-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #3A3942; /* Серый фон */
    border-radius: 4px;
    color: #F5F5F5; /* Светлый текст */
}
