{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
    <link rel="stylesheet" href="{% static 'buycars/css/stylevehicles.css' %}">
</head>
<body>
    <img src="{% static 'buycars/img/logo.png' %}" class="logotip">
    <h1>Список доступных автомобилей:</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'buycars:favorite_list_cars' %}" class="fav"type='car'>Список избранных автоомбилей</a>
    {% endif %}
    {% if user.is_authenticated and user.is_seller %}
        <a href="{% url 'buycars:add_car_ad' %}" class="btn">+ Создать</a>
    {%endif%}
    <form method="get" action="{% url 'buycars:car_list' %}" class="sort-form">
        <label for="sort">Сортировать по:</label>
        <select name="sort" id="sort">
            <option value="date_desc">Дата публикации (сначала новые)</option>
            <option value="date_asc">Дата публикации (сначала старые)</option>
            <option value="price_asc">Цена (по возрастанию)</option>
            <option value="price_desc">Цена (по убыванию)</option>
            <option value="name_asc">Название (А-Я)</option>
            <option value="name_desc">Название (Я-А)</option>
        </select>
        <button type="submit">Применить</button>
    </form>

    <ul>
        {% for car in vehicles %}
            <li>
                <a href="{% url 'buycars:car_detail' id=car.id %}"> {{ car.make }} {{ car.model }} - {{ car.price }} у.е </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'buycars:index_page' %}" class="btn-back">Назад</a>
</body>
</html>