<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
</head>
<body>
    <h1>Список доступных автомобилей:</h1>

    <ul>
        {% for car in vehicles %}
            <li><a href="{% url 'buycars:car_detail' id=car.id %}"> {{ car.make }} {{ car.model }} {{ car.price }}</a> у.е </li>
        {% endfor %}
    </ul>
    <a href="{% url 'buycars:index_page' %}"><-Назад</a>

</body>
</html>
