{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
    <link rel="stylesheet" href="{% static 'buycars/css/moto_details_style.css'%}">
</head>
<body>
    <img src="{% static 'buycars/img/logo.png' %}" class="logotip">

    <div class="container">
        <h1>Описание автомобиля</h1>

        <div class="car-details">
            <h2>{{ moto.make }} {{ moto.model }}</h2>
            <p><strong>Объем двигателя:</strong> {{ moto.engine_volume }} см^3</p>
            <p><strong>Главная передача:</strong> {{ moto.get_main_gear_display }}</p>
            <p><strong>Год выпуска:</strong> {{ moto.year_of_release }}</p>
            <p><strong>Пробег:</strong> {{ moto.Mileage }} км</p>
            <p><strong>Состояние:</strong> {{ moto.get_condition_display }}</p>
            <p><strong>Цвет:</strong> {{ moto.color }}</p>
            <p><strong>Цена:</strong> {{ moto.price }} у.е</p>
            <p><strong>Дата публикации:</strong> {{ moto.published }}</p>
        </div>

        <div class="car-details">
            <h2>Описание</h2>
            <p>{{ moto.description }}</p>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'buycars:toggle_favorite_m' moto.id %}" class="favorite-btn" data-moto-id="{{ moto.id }}">
            {% if moto.id in user_favorite_ids %}
                ★
            {% else %}
                ☆
            {% endif %}
            </a>
        {% endif %}
        <a href="{% url 'buycars:two_wheels' %}" class="back-btn">Назад</a>
    </div>
</body>
<script src="{% static 'buycars/js/knopki.js' %}"></script>

</html>