{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
    <link rel="stylesheet" href="{% static 'buycars/css/car_details_style.css'%}"> 
</head>
<body>
    <img src="{% static 'buycars/img/logo.png' %}" class="logotip">
    <div class="container">
        <h1>Autoshop</h1>
        <div class="car-details">
            <h2> {{car.make}} {{car.model}}</h2>
            <p><strong>Тип кузова:</strong> {{car.get_car_type_display}}</p>
            <p><strong>Объем двигателя:</strong> {{car.engine_volume}} л.</p>
            <p><strong>Коробка передач:</strong> {{car.get_transmission_box_display}}</p>
            <p><strong>Год выпуска:</strong> {{car.year_of_release}}</p>
            <p><strong>Пробег:</strong> {{car.Mileage}} км</p>
            <p><strong>Состояние:</strong> {{car.get_condition_display}}</p>
            <p><strong>Тип топлива:</strong> {{car.get_fuel_type_display}}</p>
            <p><strong>Цвет:</strong> {{car.color}}</p>
            <p><strong>Цена:</strong> {{car.price}} у.е</p>
            <p>Создано {{ car.published }}</p>
        </div>

        <div class="car-details">
            <h2>Описание</h2>
            <p>{{ car.description }}</p>
        </div>
    <a href="{% url 'buycars:toggle_favorite_c' car.id %}" class="favorite-btn" data-car-id="{{ car.id }}">
        {% if user.is_authenticated and car.id in user_favorite_ids %}
            ★
        {% else %}
            ☆
        {% endif %}
    </a>
    
        <a href="{% url 'buycars:car_list' %}" class="back-btn">Назад</a>
        {% if user == car.owner %}
            <div class="owner-actions">
                <a href="{% url 'buycars:edit_car' car.id %}" class="btn">Редактировать</a>
                <a href="{% url 'buycars:delete_car' car.id %}" class="btn btn-danger">Удалить</a>
            </div>
        {% endif %}
    </div>
</body>
<script src="{% static 'buycars/js/knopki.js' %}"></script>
</html>