{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
    <link rel="stylesheet" href="{% static 'buycars/css/style.css' %}">
</head>
<body>
    <header>
        <div class="container2">
            {% if user.is_authenticated %}
                <div class="auth-message">
                    <p>Вы авторизованы как {{ user.username }}.</p>
                    <a href="{% url 'logout' %}" class="btn">Выйти</a>
                </div>
            {% else %}
                <div class="auth-links">
                    <a href="{% url 'login' %}" class="btn">Войти</a>
                    <a href="{% url 'signup' %}" class="btn">Зарегистрироваться</a>
                </div>
            {% endif %}
            <h1>Начните выбор транспорта мечты прямо сейчас!</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'buycars:two_wheels' %}" class="btn">Мотоциклы</a></li>
                    <li><a href="{% url 'buycars:car_list' %}" class="btn">Автомобили</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <section>
            <h2>О нас</h2>
            <p>Мы предлагаем лучший выбор мотоциклов и автомобилей. Просто, удобно, доступно.</p>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; Кветинский Матвей Corporated</p>
        </div>
    </footer>
</body>
</html>