{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoshop</title>
    <link rel="stylesheet" href="{% static 'buycars/css/stylevehicles.css' %}">
</head>
<body>
    <h1>Список доступных мотоциклов:</h1>
    {% if request.user.is_authenticated %}
        <a href="{%url 'buycars:favorite_list_moto' %}" class="fav"type='moto'>Список избранных мотоциклов</a> 
        {% comment %} TODO: Настроить добавление данных в favorite_list {% endcomment %}
    {% endif %}

    <form method="get" action="{% url 'buycars:two_wheels' %}" class="sort-form">
        <label for="sort">Сортировать по:</label>
        <select name="sort" id="sort">
            <option value="date_desc">Дата публикации (сначала новые)</option>
            <option value="date_asc">Дата публикации (сначала старые)</option>
            <option value="price_asc">Цена (по возрастанию)</option>
            <option value="price_desc">Цена (по убыванию)</option>
            <option value="name_asc">Название (А-Я)</option>
            <option value="name_desc">Название (Я-А)</option>
        </select>
        <button type="submit">Применить</button>
    </form>

    <ul>
        {% for moto in half_car %}
            <li>
                <a href="{% url 'buycars:moto_detail' id=moto.id %}"> {{ moto.make }} {{ moto.model }} - {{ moto.price }} у.е </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'buycars:index_page' %}" class="btn-back">Назад</a>
</body>
</html>