{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Autoshop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'buycars/css/base.css' %}">
</head>
<body>  
    
    {% comment %} TODO: отображение кнопки перехода в профиль на главной странице  {% endcomment %}
    <header>
        <img src="{% static 'buycars/img/logo.png' %}" class="logotip">
        <nav>
            {% if user.is_authenticated %}
                <p>Привет, {{ user.username }}! <a href="{% url 'logout_view' %}" class="btn">Выйти</a></p>
            {% else %}
                <p>
                    <a href="{% url 'login' %}" class="btn">Войти</a>
                    <a href="{% url 'signup' %}" class="btn">Зарегистрироваться</a>
                </p>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>